[user]
    # Set your name and email here or via:
    #   git config --global user.name "Your Name"
    #   git config --global user.email "your@email.com"

[init]
    defaultBranch = main

[core]
    editor = nvim
    pager = delta
    autocrlf = input
    excludesfile = ~/.gitignore_global

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = current

[fetch]
    prune = true

[merge]
    conflictstyle = diff3

[rebase]
    autoStash = true

[diff]
    colorMoved = default

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Nord

[delta "interactive"]
    keep-plus-minus-markers = false

[interactive]
    diffFilter = delta --color-only

[alias]
    s = status -sb
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate -20
    last = log -1 HEAD --stat
    undo = reset HEAD~1 --mixed
    amend = commit --amend --no-edit
    unstage = reset HEAD --
    wip = !git add -A && git commit -m 'WIP'
    cleanup = !git branch --merged | grep -v '\\*\\|main\\|master' | xargs -n 1 git branch -d

[url "git@github.com:"]
    insteadOf = https://github.com/

[credential]
    helper = osxkeychain
