[user]
    name = asahium
    email = hiksdante@gmail.com

[init]
    defaultBranch = main

[core]
    editor = nvim
    autocrlf = input
    pager = delta
    excludesfile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3
    tool = nvim

[diff]
    colorMoved = default
    tool = nvim

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[color]
    ui = auto

[alias]
    # Status
    s = status -s
    st = status

    # Branches
    br = branch
    bra = branch -a
    brd = branch -d
    brD = branch -D

    # Checkout
    co = checkout
    cob = checkout -b

    # Commit
    c = commit
    cm = commit -m
    ca = commit --amend
    can = commit --amend --no-edit

    # Add
    a = add
    aa = add -A
    ap = add -p

    # Push/Pull
    p = push
    pf = push --force-with-lease
    pl = pull
    plr = pull --rebase

    # Diff
    d = diff
    ds = diff --staged
    dc = diff --cached

    # Log
    l = log --oneline -15
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

    # Stash
    ss = stash
    sp = stash pop
    sl = stash list

    # Reset
    unstage = reset HEAD --
    undo = reset --soft HEAD~1

    # Other
    last = log -1 HEAD
    aliases = config --get-regexp alias
    whoami = config user.email
    contributors = shortlog --summary --numbered

    # Clean
    cleanup = !git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d

[credential]
    helper = osxkeychain

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[url "git@github.com:"]
    insteadOf = https://github.com/

